@import "./mixins.scss";
@import "./variables.scss";

.search-component {
  @include flexbox();
  padding: 2em;
  input[type="search"] {
    border: 1px solid $body-regular-color;
    color: $body-regular-color;
    border-radius: 4px;
    padding: 1em 2em 1em 1em;
    width: 30vw;
    min-width: 380px;
    height:50px;
  }
}

@media screen and (min-width: 768px) {
  .search-component {
    justify-content: flex-start;
  }
}
