@import "mixins";

.search-component {
  @include flexbox();
  padding: 2em;
  input[type="search"] {
    border: 1px solid whitesmoke;
    background-color: transparent;
    border-radius: 25px;
    padding: 1em;
    width: 30vw;
    min-width: 400px;
    height:50px;
    padding-right:25px;   
    background: url("../img/search.png")  right     no-repeat;
    background-position: 95%;
  }
}

@media screen and (min-width: 768px) {
  .search-component {
    justify-content: flex-start;
  }
}
